WsClient/src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8087/?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="convertEuroToDh">
<part name="parameters" element="tns:convertEuroToDh"/>
</message>
<message name="convertEuroToDhResponse">
<part name="parameters" element="tns:convertEuroToDhResponse"/>
</message>
<message name="getCompteList">
<part name="parameters" element="tns:getCompteList"/>
</message>
<message name="getCompteListResponse">
<part name="parameters" element="tns:getCompteListResponse"/>
</message>
<portType name="BanqueWS">
<operation name="getCompte">
<input wsam:Action="http://services/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://services/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="convertEuroToDh">
<input wsam:Action="http://services/BanqueWS/convertEuroToDhRequest" message="tns:convertEuroToDh"/>
<output wsam:Action="http://services/BanqueWS/convertEuroToDhResponse" message="tns:convertEuroToDhResponse"/>
</operation>
<operation name="getCompteList">
<input wsam:Action="http://services/BanqueWS/getCompteListRequest" message="tns:getCompteList"/>
<output wsam:Action="http://services/BanqueWS/getCompteListResponse" message="tns:getCompteListResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:8087/"/>
</port>
</service>
</definitions>